<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.van.mall.database.mapper.system.GenTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.van.mall.database.entity.system.GenTableDO">
        <id column="table_id" property="tableId" />
        <result column="table_name" property="tableName" />
        <result column="table_comment" property="tableComment" />
        <result column="sub_table_name" property="subTableName" />
        <result column="sub_table_fk_name" property="subTableFkName" />
        <result column="class_name" property="className" />
        <result column="tpl_category" property="tplCategory" />
        <result column="package_name" property="packageName" />
        <result column="module_name" property="moduleName" />
        <result column="business_name" property="businessName" />
        <result column="function_name" property="functionName" />
        <result column="function_author" property="functionAuthor" />
        <result column="gen_type" property="genType" />
        <result column="gen_path" property="genPath" />
        <result column="options" property="options" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        table_id, `table_name`, table_comment, sub_table_name, sub_table_fk_name, class_name, tpl_category, package_name, module_name, business_name, function_name, function_author, gen_type, gen_path, `options`, create_by, create_time, update_by, update_time, remark
    </sql>

</mapper>
